# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# dotenv environment variables file
.env
.env.test

# Dependency directories
node_modules/

# VS Code
.vscode/

# Database
dev.db
dev.db-journal

# Other
.DS_Store
.idea
package-lock.json
temp
.idea/
.history
dist
tsconfig.buildinfo
.snaplet
.snaplet/snapshots
.snaplet/structure.d.ts
